.swgcontrol-win {
  display: none;
  position: absolute;
  top: 80px;
  left: 100%;
  margin-right: -50%;
  transform: translate(-100%, -50%);
  background: rgba(224, 224, 224, 0.6);
  color: #000;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 2px;
  font-size: 12px;
}




.swg-ok {
  font-size: 12px;
  background: rgba(8, 248, 0, 0.6);
  color: #fff;
  border: 0px;
}

.swg-try {
  font-size: 12px;
  background: #fca130;
  color: #fff;
  border: 0px;
}

.swg-err {
  font-size: 12px;
  background: #f93e3e;
  color: #fff;
  border: 0px;
}